

:root{
    --main-color: #FFAC41;
    --background-color: #303030;
    --secondary-color: #212121;
}

body{
    background-color:var(--background-color);
    font-family: 'Dongle';
    color: var(--main-color);
    margin: 0;
    font-size: 3.5vh;
    line-height: 2vh;
    overflow: hidden;
}
.header-text{
    content: '';
}
.header{
    display: flex;
    align-items: center;

    width: 100%;
    grid-area: top;
    background-color: var(--secondary-color);
    box-shadow: 0 1vh 2vw rgba(0,0,0,0.3);
}
.icon{
    margin-right: 2vw;
    margin-left: 2vw;
    height: 7.5vh;
    width: 7.5vh;
    border-radius: 10vh;
    background-color: var(--main-color);
}

.content{
    display: grid;
    position: absolute;
    grid-template-areas: "top top" "login register" "about about";
    grid-template-rows: 1fr 6fr 1fr;
    height: 100%;
    width: 100%;
    row-gap: 10vh;
    justify-items: center;
    
    
}
.login{
    z-index: 1;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 4vh;
    padding-bottom: 4vw;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: login;

    background-color: var(--secondary-color);
    border-radius: 2.5vw;
    box-shadow: 0 1vh 2vw rgba(0,0,0,0.3);
    overflow: hidden;
    
}
.login::after{
    position: absolute;
    z-index: -1;
    content: '';
    background-color: var(--background-color);
    border-radius: 2vw;
    width: 95%;
    height: 96%;
    top: 2%;
    left: 2.5%;
}
.login::before{
    z-index: -1;
    content: "";
    background-image: conic-gradient(var(--main-color) 20deg, transparent 60deg);
    height: 200%;
    width: 200%;
    left: -50%;
    border-radius: 100%;
    position: absolute;
    animation: rotate 2s infinite cubic-bezier(0.43, 0.07, 0.58, 0.9);
}

@keyframes rotate{
    100%{
        transform: rotate(-360deg);
    }
}

.register{
    z-index: 1;
    overflow: hidden;

    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 4vh;
    padding-bottom: 4vw;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: register;

    background-color: var(--secondary-color);
    border-radius: 2.5vw;
    box-shadow: 0 1vh 2vw rgba(0,0,0,0.3);
}

.register::after{
    position: absolute;
    z-index: -1;
    content: '';
    background-color: var(--background-color);
    border-radius: 2vw;
    width: 95%;
    height: 96%;
    top: 2%;
    left: 2.5%;
    /*Wenn nichts geladen werden muss
    ToDo: animation stoppen oder "border" vergrößern
    
    width: 102%;
    height: 102%;
    top: -1%;
    left: -1%;
*/  
    
}
.register::before{
    z-index: -1;
    content: "";
    background-image: conic-gradient(var(--main-color) 20deg, transparent 60deg);
    height: 200%;
    width: 200%;
    left: -50%;
    border-radius: 100%;
    position: absolute;
    animation: rotate 2s infinite cubic-bezier(0.43, 0.07, 0.58, 0.9);
}
.meter{
    /*Reset All*/ 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    background-color: rgba(0, 0, 0, 0.1);

    margin-top: 1vh;
    margin-left: 1vw;
    position: relative;
    padding: 1%;
    width: 80%;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50px;
}
/*Chrome, Safari usw. (Webkit)*/
meter[value="1"]::-webkit-meter-optimum-value { background: var(--main-color) }
meter[value="2"]::-webkit-meter-optimum-value { background: var(--main-color) }
meter[value="3"]::-webkit-meter-optimum-value { background: var(--main-color) }
meter[value="4"]::-webkit-meter-optimum-value { background: var(--main-color) }
meter[value="5"]::-webkit-meter-optimum-value { background: var(--main-color) }
meter[value="6"]::-webkit-meter-optimum-value { background: var(--main-color) }
meter[value="7"]::-webkit-meter-optimum-value { background: var(--main-color) }
meter[value="8"]::-webkit-meter-optimum-value { background: var(--main-color) }
meter[value="9"]::-webkit-meter-optimum-value { background: var(--main-color) }
meter[value="10"]::-webkit-meter-optimum-value { background: var(--main-color) }

/*Firefox (Gecko)*/
meter[value="1"]::-moz-meter-bar { background: var(--main-color) }
meter[value="2"]::-moz-meter-bar { background: var(--main-color) }
meter[value="3"]::-moz-meter-bar { background: var(--main-color) }
meter[value="4"]::-moz-meter-bar { background: var(--main-color) }
meter[value="5"]::-moz-meter-bar { background: var(--main-color) }
meter[value="6"]::-moz-meter-bar { background: var(--main-color) }
meter[value="7"]::-moz-meter-bar { background: var(--main-color) }
meter[value="8"]::-moz-meter-bar { background: var(--main-color) }
meter[value="9"]::-moz-meter-bar { background: var(--main-color) }
meter[value="10"]::-moz-meter-bar { background: var(--main-color) }



.input{
    background-color: #424242;
    border-radius: 6vw;
    height: 7.5%;
    width: 80%;
    font-family: 'Dongle';
    color: white;
    font-size: 1.2em;
    padding-left: 1vw;
    padding-right: 1vw;
    border: none;
}

.label{
    color: #6d6d6d;
    font-size: 1em;
    margin-bottom: 0.7vh;
    margin-top: 3vh;
}
.register p{
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 5vh;
}
.login p{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 7vh;

}
.button{
    margin-top: 2vw;
    border-radius: 5vw;
    border: none;
    font-family: 'Dongle';
    color: var(--main-color);
    font-size: 1em;
    padding-bottom: 4.75vh;
    background-color: #424242;
    height: 7.5%;
    width: 50%;
}
.button:hover{
    background-color: var(--main-color);
    color: #424242;
    transition: background-color 250ms;
    transition: color 150ms;
}
.about{
    padding: 1%;
    grid-area: about;

    background-color: var(--secondary-color);
    box-shadow: 0 -1vh 2vw rgba(0,0,0,0.2);
    
}